<div class="page-header">
  <%= link_to posts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_post_path(@post), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show post</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @post.user_id %></dd>

  <dt>Category:</dt>
  <dd><%= @post.category_id %></dd>

  <dt>Title:</dt>
  <dd><%= @post.title %></dd>

  <dt>Description:</dt>
  <dd><%= @post.description %></dd>

  <dt>Price:</dt>
  <dd><%= @post.price %></dd>

  <dt>Location:</dt>
  <dd><%= @post.location %></dd>

  <dt>Featured post:</dt>
  <dd><%= @post.featured_post %></dd>

</dl>
